.folder {
    max-width: 1318px;
    width: calc(100% - 9.5rem);
    height: calc(100% - 12.2rem);
    z-index: 50;
    @include min(801) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    display: flex;
    flex-direction: column;
    transition: .3s ease;

    &.full {
        max-width: 100%;
        width: 100% !important;
        height: 100% !important;
    }

    &.closed {
        @include min(1280) {
            transform: scale(.8);
            transform: translate(-50%, -30%) scale(.8);
        }
        opacity: 0;

        & + .video {
            & #video {
                &:not(.active) {
                    top: 100%;
                }
            }
        }
    }

    &:not(.closed) {
        & main {
            opacity: 1;
            max-height: 100%;
            border-radius: 0 0 4rem 4rem;
            
            @include max(800) {
                border-radius: 2rem 2rem 0 0;
                // max-height: unset;
                // flex: 1;
            }
        }

        & .menu-toggle {
            opacity: 1;
        }
    }

    &.changing {
        & main {
            transition: .3s ease;
            max-height: 0;
        }
    }

    @include max(800) {
        position: relative;
        // transform: unset;
        width: calc(100%);
        height: unset;
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        // top: 0;
        // left: 0;
    }
}