.header {
    background-color: #B5B5B5;
    border-radius: 4rem 4rem 0 0;
    width: 100%;
    transition: .3s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem 0 1.4rem;

        & > span {
            font-family: "Darker Grotesque", sans-serif;
            font-size: 2.707rem;
            line-height: 3.6rem;
            color: #5b5b5b;
            text-transform: uppercase;
            font-weight: 400;
        }
    }

    &__breadcrumb {
        display: flex;
        align-items: center;

        & * {
            font-family: "Darker Grotesque", sans-serif;
            font-size: 2.707rem;
            line-height: 3.6rem;
            color: #5b5b5b;
            text-transform: uppercase;
            font-weight: 400;

            @include max(800) {
                font-size: 2.4rem;
                line-height: 3.2rem;
            }
        }
    }

    &__languages {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-family: "Darker Grotesque",sans-serif;
        font-size: 2.707rem;
        line-height: 3.6rem;
        color: #5b5b5b;
        text-transform: uppercase;
        font-weight: 400;
        
        & button {
            font: inherit;
            transition: .3s ease;

            &.active {
                font-weight: 700;
            }
        }
    }

    @include max(800) {
        order: 1;
        border-radius: 0 0 2rem 2rem;
    }
}