@import '../abstracts/utilities';

.context {
    position: relative; 
    margin-top: 5rem;
    flex: 1;
    overflow: hidden;

    & .explanation {
        display: block;
        margin: 2rem 0 0;
        max-width: 63rem;
        font-family: 'Cormorant Garamond', sans-serif;
        font-size: 1.8rem;
        line-height: 1.4;
        color: #fff;
        font-weight: 300;
    }

    &__text {
        max-width: 63rem;
        max-height: 65%;
        padding-right: 2rem;
        overflow: auto;

        &::-webkit-scrollbar {
            width: .7rem;
            
            &-track {
                background: inherit;
                background: transparent;
            }
            
            &-thumb {
                background: #b5b5b5;
                border-radius: 8px;
                transition: .3s ease;
                
                &:hover {
                    background: darken(#b5b5b5, 30%);
                }
            }
        }
        
        & p {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.8rem;
            line-height: 1.4;
            color: #fff;
            font-weight: 300;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            & a {
                text-decoration: underline;
            }

            & *[data-explanation] {
                font-weight: 900;
                color: #d9d9d9;
            }
        }
    }

    @include max(800) {
        margin: 2rem 5% 0 !important;
        padding-bottom: 15rem;
    }
}