@import '../abstracts/utilities';

.s-skills {
    list-style: none;
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
    &__item {
        border: 1px solid #d9d9d9;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 3rem;
        position: relative;

        & * {
            position: relative;
            z-index: 2;
        }
        
        & span {
            font-size: 1.9rem;
            line-height: 1.4;
            letter-spacing: 0.1em;
            font-weight: 700;
            display: block;
            opacity: 1;
            transition: opacity .3s ease;
    
            @include max(800) {
                font-size: 1.8rem;
            }
        }

        & svg,
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 75%;
            width: auto;
            opacity: 0;
            transition: opacity .3s ease;

            & circle,
            & path {
                fill: #d9d9d9;
            }
        }

        & img {
            filter: invert(1);
        }

        &--stroke {
            & svg {
                & path {
                    &:first-child {
                        fill: none;
                        stroke: #d9d9d9;
                    }
                }
            }
        }

        &:hover {

            & span {
                opacity: 0;
            }

            & svg,
            & img {
                opacity: 1;
            }
        }

        &:not(:hover) {
            & .progress {
                max-width: 0% !important;
            }
        }
    
        @include max(800) {
            padding: 0 1.5rem;
        }
    }
    
    @include max(800) {
        padding: 5rem 5% 17.5rem;
    }
}