@import '../abstracts/utilities';

.home {
    & #video {
        &.active {
            top: 45%;
        }
    }

    & .oppening {
        &__container {
            & h2 {
                & div {
                    display: inline-block;
                    transition: .3s ease;
                    -webkit-text-stroke-width: 0px;
                    -webkit-text-stroke-color: transparent;
                    
                    &:hover {
                        -webkit-text-stroke-width: .3rem;
                        -webkit-text-stroke-color: #d9d9d9;
                        font-weight: 500;
                        letter-spacing: 1.2rem;
                    }
                }
            }
        }
    }

    @include max(500) {
        & .oppening {
            
            &__container {
                margin: 0 3.5% !important;
                
                & h2 {
                    font-size: 7rem;
                    line-height: 0.8;
                    text-align: center;
                    
                    & > span {
                        margin: 0;
                        
                        &:last-of-type {
                            font-size: 4.6rem;
                            line-height: 2.2;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}