@import '../abstracts/utilities';

.work {
    & .folder {
        &:not(.closed) {
            & .menu-toggle {
                transition: .3s ease, opacity .3s ease-in .8s, right .3s ease-out, translate .3s ease-out .8s;
                translate: 0 9.75rem;
            }

            // & main {
            //     max-height: 100%;
            // }
        }
    }
    
    & .oppening {
        height: 100%;
        padding: 1rem 0 10rem;

        &__left {
            overflow: hidden;
        }

        @include max(800) {
            flex: 1;
        }
    }
    
    & .menu-toggle {
        animation-play-state: paused;
        &:not(.active):not(:hover) {
            filter: blur(1px);
        }
        right: calc(50% - 9.75rem);
        bottom: -9.75rem;
        bottom: 0;

        
        & span {
            &.hiding {
                animation-play-state: paused;
            }
        }
    }

    & #enhance {
        &:hover {
            & > .outer {
                &:nth-child(1) {
                    transform: translate(-60%, -40%) rotate(-15deg);
                }
                
                &:nth-child(2) {
                    transform: translate(-20%, 30%) rotate(25deg);
                }
            }
        }
    }
    
    & #video {
        top: 75%;
        left: 50%;

        &.active {
            transform: translate(-100%, 0%);
        }

        @include max(800) {
            
            &.active {
                top: unset;
                bottom: 0;
                left: 50%;
                transform: translate(-100%, 0%);
            }
        }
    }

    @include max(800) {
        & main {
            display: flex;
            flex-direction: column;
        }
    }
}

.foot-note {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    background-color: #b5b5b5;
    color: #000;
    z-index: 100;
    padding: 2rem 3rem;
    font-size: 2rem;
    font-family: "Darker Grotesque",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 2.4rem 2.4rem 0 2.4rem;
    transform: scale(0);
}

.foot-note.visible {
    animation: messageInserted .5s ease forwards;
}

@keyframes messageInserted {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}