@import '../abstracts/utilities';

.skills {
    & .oppening {
        &__container {
            & h2 {
                & > span {
                    &:first-of-type {
                        font-size: 6.421rem;
                        font-family: 'Cormorant Garamond', sans-serif;
                        margin-left: 0;

                        @include max(800) {
                            font-size: 4.5rem;
                        }
                    }

                    &:last-of-type {
                        font-size: 9.5rem;

                        @include max(800) {
                            font-size: 6.5rem;
                        }
                    }
                }
            }
        }

        @include max(800) {
            & .context {
                padding-bottom: 0;
            }
        }
    }    

    & .menu-toggle {
        right: calc(45% - 18rem);
        bottom: 4rem;
    }

    & #enhance {
        &:hover {
            & > .outer {
                &:nth-child(3) {
                    transform: translate(-60%, -40%) rotate(-15deg);
                }
            }
        }
    }
    
    & #video {
        &.active {
            top: 75%;
        }

        @include max(800) {
            
            &.active {
                top: unset;
                bottom: 0;
                left: 50%;
                transform: translate(-100%, 0%);
            }
        }
    }
}